$background-color: #254441;

.grid-container {
    display: grid;
    grid-template-rows: 1fr 10fr; // rad 1 , rad 2 
    grid-template-columns: 1fr 2fr 1.5fr 2fr 1fr;
    grid-template-areas:
        "nav-columns nav-columns nav-columns nav-columns nav-columns" //rad 1
        "main-columns main-columns main-columns main-columns main-columns"; //rad 2

    nav {
        grid-area: nav-columns; // namnet på dom grid-cellerna som elementet ska finnas på
        background-color: #fef9ef;
    }

    //Kan va värt att dela upp det för att hela main ska ha en viss egenskap.. enklare att tänka uppdelat
    //om vi kör "left eventcolumn middle eventcolumn right , så kommer vi ända behöva fylla left,middle och right med någonting.

    main {
        grid-area: main-columns; // namnet på dom grid-cellerna som elementet ska finnas på
        background-color: $background-color;
        display: grid;
        grid-template-columns: 1fr 2fr 1.5fr 2fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: "ett två tre fyra fem";

        .eventcolumn1 {
            grid-area: två; // namnet på dom grid-cellerna som elementet ska finnas på
            background-color: blue;
            display: grid;
            grid-template-rows: 1fr 1fr;


            #box1 {

                width: 100%;
                height: 100%;
                background-color: teal;
                align-content: center;

                img {
                    width: 400px;
                    height: 400px;
                }

            }

            #box2 {
                width: 100%;
                height: 100%;


                img {
                    width: 100%;
                    height: 100%;
                }

            }

        }

        .eventcolumn2 {
            grid-area: fyra; // namnet på dom grid-cellerna som elementet ska finnas på
            background-color: yellow;
            display: grid;

            grid-template-rows: 1fr 1fr;

            #box3 {

                width: 100%; //100% av parent, dvs 100% av eventcolumn2
                height: 100%;
                background-color: red;

                img {
                    width: 100%;
                    height: 100%;


                }
            }

            #box4 {
                width: 100%;
                height: 100%;
                background-color: royalblue;


                img {
                    width: 100%;
                    height: 100%;

                }
            }
        }


    }


}